@import "tailwindcss";
@plugin "daisyui" {
  themes: "adonis";
}


@plugin "daisyui/theme" {
  name: "adonis";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.5% 0.015 260);
  --color-base-200: oklch(37% 0.034 259.733);
  --color-base-300: oklch(19.5% 0.011 260);
  --color-base-content: oklch(96% 0.03 255);
  --color-primary: oklch(70% 0.14 182.503);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(15% 0.004 265);
  --color-neutral-content: oklch(92% 0.005 270);
  --color-info: oklch(75% 0.16 245);
  --color-info-content: oklch(25% 0.07 250);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(83% 0.2 85);
  --color-warning-content: oklch(39% 0.11 65);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
