@import "tailwindcss";
@plugin "daisyui" {
  themes: "adonis";
}

@plugin "daisyui/theme" {
  name: "adonis";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.5% 0.015 260);
  --color-base-200: oklch(22.5% 0.013 260);
  --color-base-300: oklch(19.5% 0.011 260);
  --color-base-content: oklch(96% 0.03 255);
  --color-primary: oklch(58% 0.26 27);
  --color-primary-content: oklch(97% 0.02 260);
  --color-secondary: oklch(65% 0.19 145);
  --color-secondary-content: oklch(16% 0.03 145);
  --color-accent: oklch(70% 0.15 210);
  --color-accent-content: oklch(28% 0.06 215);
  --color-neutral: oklch(15% 0.004 265);
  --color-neutral-content: oklch(92% 0.005 270);
  --color-info: oklch(75% 0.16 245);
  --color-info-content: oklch(25% 0.07 250);
  --color-success: oklch(78% 0.18 145);
  --color-success-content: oklch(32% 0.08 150);
  --color-warning: oklch(83% 0.2 85);
  --color-warning-content: oklch(39% 0.11 65);
  --color-error: oklch(72% 0.21 20);
  --color-error-content: oklch(26% 0.10 15);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
